/* -------------------------------------------
	Layout (obligatory)
--------------------------------------------*/
.slidertool{
	position: relative;
	width:100%;
	overflow: hidden;
}
	.slidertool__inner{
		border:0;
		margin:0;
		padding: 0;
		position: relative;
		height:100%;
	}

	.main-slide{
		overflow: hidden;

		&.active{
			z-index: 1;
		}
	}

/* -------------------------------------------
	Styles (optional)
--------------------------------------------*/
.tool-wrapper{ 
	margin:50px auto;
	width:80%;
	font-family: "Lucida Grande";
	color:#4D4D4D;
}
	.main-slide h1{margin-bottom:0; color:#1F1F1F;}
	.main-slide h2{
		color:#1F1F1F;
		font-size:1em; 
		margin-top:0; 
		color:#BBBBBB; 
		font-weight: normal;
	}

	p{line-height: 150%;}